body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #f1f1f1;
    background-image: url("wallpaper6.jpg");
    background-size: cover;
    padding: 100px;
  }
  
  header h1{
    text-align: center;
    position: relative;
    top:-50px;
    font-size: xx-large;

  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position:relative;
    top:50px;
    font-size: larger ;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
  }
  
  .gallery-image:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .contact-list {
    list-style: none;
    padding: 0;
  }
  
  .contact-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-list .icon {
    margin-right: 10px;
  }
  
  .contact-list .label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .contact-list a {
    color: #000;
    text-decoration: none;
  }
  
  .contact-list a:hover {
    text-decoration: underline;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  form label {
    display: block;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    width: 100%;
  }
  
  form button[type="submit"] {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #333;
  }
  